*{
    margin: 0;
    padding: 0
}

#blog {
    color: #ED00A6;
text-align: center;
font-size: 16px;
font-weight: 600;
}

#resources {
    color: #181D27;
text-align: center;
font-size:  48px;
font-weight: 600;
}